body {
    background-color: navajowhite;
    }

div {
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 350px;
    }

#image {
    min-height: 182px;
    min-width: 225px;
    max-height: 620px;
    max-width: 800px;
    margin: 3px;
    }

.text {
    padding: 2em 5em;
    font: normal 30px/50px sans-serif;
    color: #999;
}
.text p {
    height: 30px;
    float: left;
    margin-right: 0.3em;
}
.text b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 20px;
    max-width: 800px;
}
.text .innertext {
    display: inline-block;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;

    animation:move 30s;
    animation-iteration-count:infinite;
    animation-delay:4s;
    }

@keyframes move{
    0%  { top: 0px; }
    12% { top: -50px; }
    24% { top: -100px; }
    36% { top: -150px; }
    48% { top: -200px; }
    60% { top: -250px; }
    72% { top: -300px; }
    84% { top: -350px; }
    100% { top: -400px; }
    }

button  {
    max-width: 60px;
    background: navajowhite;
    border: aliceblue;
    }

#bottons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    }

#play-music-button {
    height: 60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-position: center;
}

.play {
    background: url("image/sound_on.png") no-repeat;
}

.pause {
    background: url("image/sound_off.png") no-repeat;
}